alembic==0.8.4
bcrypt==2.0.0
cffi==1.5.0
Cython==0.23.4
falcon==0.3.0
Mako==1.0.3
MarkupSafe==0.23
Paste==2.0.2
PasteDeploy==1.5.2
PasteScript==2.0.2
psycopg2==2.6.1
pycparser==2.14
python-dateutil==2.4.2
python-editor==0.5
python-mimeparse==0.1.4
six==1.10.0
SQLAlchemy==1.0.11
waitress==0.8.10
